body{
  position: fixed;
}

main {
  display: flex;
  justify-content: center;
  overflow:hidden;
}

main > svg{
  position: absolute;
  transform:scale(1.05);
  top:2vw;
  left:0;
  right:0;
}


/* p {
  z-index:20;
  /* position: absolute;
  top: 2em;
  text-align: justify;
  left:50vw;
  right:15vw; */
  /* font-size: 1.2em; */
  /* opacity:0; */
/* }  */

p.P1{
  position: relative;
  top: 10em;
  z-index: 20;
}

p.P2{
  position: relative;
  top: 20em;
  z-index: 20;
}

p.P3{
  position: relative;
  top: 30em;
  z-index: 20;
}


.P1.delighter{
  transition: all .3s ease-out;
  transform: translateX(-100%);
  opacity: 0;
}

.delighter.P1.started {
  transform: none;
  opacity: 1;
}

.delighter.P1.started.ended {
  border: solid red 10px;
}


.P2.delighter{
  transition: all .3s ease-out;
  transform: translateX(-100%);
  opacity: 0;
}

.P2.delighter.started {
  transform: none;
  opacity: 1;
}

.P2.delighter.started.ended {
  border: solid red 10px;
}

.P3.delighter{
  transition: all .3s ease-out;
  transform: translateX(-100%);
  opacity: 0;
}

.P3.delighter.started {
  transform: none;
  opacity: 1;
}

.P3.delighter.started.ended {
  border: solid red 10px;
}




/* WOLKEN ANIMTAIE */
g#DUBBLEWOLK{
  animation: wolken 5s ease infinite alternate;
  opacity: 1;
  z-index:10;
}
@keyframes wolken {
  0%{
    transform:translate(-0em, 1em);
    opacity: 0.3;
  }
  25%{
    transform:translate(-5em, 1em);
     opacity: 0.7;
  }
  50%{
    transform:translate(-7em, 1em);
    opacity: 0.7;
  }
  75%{
    transform:translate(-5em, 1em);
    opacity: 0.5;
  }
  100%{
    transform:translate(-0em, 1em);
    opacity: 0.3;
  }
}



/* ANIMATIE VOGEL bron: https://css-tricks.com/guide-svg-animations-smil/
https://developer.mozilla.org/en-US/docs/Web/CSS/transform-origin
*/
svg#Vliegendevogel{
  transform: scale(0.2) translateX(-140em) translateY(-50em);
  z-index: 20;
  animation: fly 5s ease infinite alternate;
}

.lichaam_vogel{
  fill:#3b5093;
}
.vleugel_vogel{
  fill:#485caf;
}




@keyframes fly {
 from{
    transform: scale(0.2) translateX(-140em) translateY(-50em);
  }
  15%{
    transform: scale(0.2) translateX(-120em) translateY(-50em);
  }
  25%{
    transform: scale(0.2) translateX(-50em) translateY(-40em);
  }
  35%{
    transform: scale(0.2) translateX(50em) translateY(-50em);
  }
  50%{
    transform: scale(0.2) translateX(150em) translateY(-40em) rotate3d(0, 1, 0, 180deg);
  }
  65%{
    transform: scale(0.2) translateX(50em) translateY(-50em) rotate3d(0, 1, 0, 180deg);
  }

  75%{
    transform: scale(0.2) translateX(-50em) translateY(-40em) rotate3d(0, 1, 0, 180deg);
  }
  85%{
    transform: scale(0.2) translateX(-120em) translateY(-50em) rotate3d(0, 1, 0, 180deg);
  }
  to{
     transform: scale(0.2) translateX(-140em) translateY(-50em) rotate3d(0, 1, 0, 180deg);
   }
}

/* Dinolopen  Bron: https://developer.mozilla.org/en-US/docs/Web/CSS/animation*/
g#PLANTENETER{
  animation: Dinolopen 6s ease infinite alternate;
  transform-origin: 30%;
}


.cls-24:hover{
  fill:#d89471;
}

.cls-26:hover{
  fill:#cd7649;
}


@keyframes Dinolopen {
  from{
      transform:translate3d(0rem, 0, 0rem) rotate3d(0, 1, 0, 0deg) scale3d(1, 1, 1);
  }
  25%{
      transform:translate3d(2rem, 0, 0rem) rotate3d(0, 1, 0, 0deg) scale3d(1, 1, 1);
  }
  40%{
      transform:translate3d(3rem, 0, 0rem) rotate3d(0, 1, 0, 90deg) scale3d(1.01, 1.01, 1.01);
}
50%{
    transform:translate3d(3rem, 0, 0rem) rotate3d(0, 1, 0, 180deg) scale3d(1.02, 1.02, 1.02);
}
60%{
    transform:translate3d(3rem, 0, 0rem) rotate3d(0, 1, 0, 90deg) scale3d(1.01, 1.01, 1.01);
}
  75%{
        transform:translate3d(2rem, 0, 0rem) rotate3d(0, 1, 0, 0deg) scale3d(1, 1, 1);
  }
  to{
      transform:translate3d(0rem, 0, 0rem) rotate3d(0, 1, 0, 0deg) scale3d(1, 1, 1);
  }
}

g#TREX{
  animation: reklopen 9s ease infinite alternate;
  transform-origin: 70%;
}

@keyframes reklopen {
  from{
      transform:translate3d(0rem, 0, 0rem) rotate3d(0, 1, 0, 0deg) scale3d(1, 1, 1);
  }
  25%{
      transform:translate3d(2rem, 0, 0rem) rotate3d(0, 1, 0, 0deg) scale3d(1, 1, 1);
  }
  40%{
      transform:translate3d(3rem, 0, 0rem) rotate3d(0, 1, 0, 90deg) scale3d(1.01, 1.01, 1.01);
}
50%{
    transform:translate3d(3rem, 0, 0rem) rotate3d(0, 1, 0, 180deg) scale3d(1.02, 1.02, 1.02);
}
60%{
    transform:translate3d(3rem, 0, 0rem) rotate3d(0, 1, 0, 90deg) scale3d(1.01, 1.01, 1.01);
}
  75%{
        transform:translate3d(2rem, 0, 0rem) rotate3d(0, 1, 0, 0deg) scale3d(1, 1, 1);
  }
  to{
      transform:translate3d(0rem, 0, 0rem) rotate3d(0, 1, 0, 0deg) scale3d(1, 1, 1);
  }
}
