main {
  display: flex;
  justify-content: center;
}

main > svg{
  position: absolute;
  transform:scale(1.05);
  top:-0.5vw;
  left:0;
  right:0;
}

p {
  z-index:20;
  position: absolute;
  top: 2em;
  text-align: justify;
  left:50vw;
  right:15vw;
  font-size: 1.2em;
}

/* WOLKEN ANIMTAIE */
g#DUBBLEWOLK{
  animation: wolken 5s ease infinite alternate;
  opacity: 1;
  z-index:10;
}
@keyframes wolken {
  0%{
    transform:translate(-0em, 1em);
    opacity: 0.3;
  }
  25%{
    transform:translate(-5em, 1em);
     opacity: 0.7;
  }
  50%{
    transform:translate(-7em, 1em);
    opacity: 0.7;
  }
  75%{
    transform:translate(-5em, 1em);
    opacity: 0.5;
  }
  100%{
    transform:translate(-0em, 1em);
    opacity: 0.3;
  }
}

path#Waterdunner, g#Walvis2{
    animation: water 5s ease infinite alternate;
  }

/* Water, boot  en een walvis */
g#BootNet, path#Waterdikker, g#Walvis1{
  animation: water 3s ease infinite alternate;
}

@keyframes water {
  0%{
      transform:translate(1em, 1em);
  }
  25%{
      transform:translate(2em, 0em);
  }
  50%{
      transform:translate(3em, 1em);

  75%{
      transform:translate(2em, 0em);
  }
  100%{
      transform:translate(1em, 1em);
  }
}
